{
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": { "browsers": "last 2 versions" },
            "modules": false
          }
        ]
      ]
    },
    "modules": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": { "node": "12.4" },
            "modules": false
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": { "node": "12.4" }
          }
        ]
      ]
    }
  }
}
